.checkout {
    display: flex;
    background-color: white;
}

.checkout_title {
    border-bottom: 1px solid #dddddd;
}

.checkout_content h3, .checkout_content h2 {
    padding: 20px;
}

.checkout_right {
    margin: 180px 20px 0 0;
}